# NEXT_PUBLIC_GOOGLE_CLIENT_ID=862491648968-8g6ildrhaqsc1qjhu3oekdrli6fjol9k.apps.googleusercontent.com
# NEXT_PUBLIC_FACEBOOK_APP_ID=your_facebook_app_id_here
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
